.container{
    width: 122.6rem;
    max-width: 100%;
    padding: 9.6rem 17.4rem;
    background-color: #fff;
    border-radius: 1.8rem;
    margin: auto;
}

@media(max-width:1060px){
    .container{
        padding: 3rem 0.6rem;
    }
}
@media(max-width:920px){
    .container{
        padding: 3rem 0.6rem;
    }
}