* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}
html{
  font-size: 62.5%;
}
a {
  color: inherit;
  text-decoration: none;
}
.landingHeader{
  display: flex;
  justify-content: center;
  padding: 3.2rem;
}

.landingNavigationSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12.3rem;
}

.LandingNavigationLinkGroup{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.6rem;
}

.landingBtn{
  width: 38.7rem;
  max-width: 100%;
}
.backBtn{
  height: 5.3rem;
  width: 5.3rem;
  max-width: 100%;
  background-color: #D9D9D9;
  display: grid;
  place-items: center;
  border-radius: 50%;
}

.detailsHeader{
   display: grid;
   grid-template-columns: auto 1fr;
   align-items: center;
   justify-items: center;
   padding: 3.2rem;
}


.finishModal{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
  max-width: 100%;
  width: 84.7rem;
  height: 53.7rem;
  background-color: #fff;
  border-radius: 0.8rem;
  text-align: center;
}
.finishPageLinkGroup{
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
}

.finishPageLinkGroup a {
  font-size: 2rem;
}
.listLink{
  margin: auto;
  width: 29.7rem;
  max-width: 100%;
  padding: 1.8rem 6.5rem;
  background-color: #62A1EB;
  color: #fff;
  border-radius: 8px;
}

.mainLink{
  color: #62A1EB;
}
.finishHeading{
  font-size: 2.5rem;
  color: #000;
}
@media(max-width:800px){
  html{
    font-size: 50%;
  }
  .landingNavigationSection img{
    max-width: 100%;
  }
  .landingBtn{
    width: 100%;
  }
  .detailsHeader{
    padding: 0 1rem;
  }
}